<IfModule mod_rewrite.c>

    RewriteEngine On

    RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)[/]*([a-zA-Z0-9*=]*)$ index.php?con=$1&pag=$2&var=$3

</IfModule>

Options -Indexes 
ErrorDocument 403 /Biblioteca/index.php?err=403
ErrorDocument 404 /Biblioteca/index.php?err=404